@import url("../components/header.css");
@import url("../components/button.css");
@import url("../components/footer.css");
@import url("../components/letter-title.css");
@import url("../variable.css");


.root {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.bg-video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    left: 0;
}

.bg-video .bg-color {
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.bg-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-container {
    width: 100%;
    height: calc(100% - 104px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-container .content-section {
    position: absolute;
    left: 15.625%;
    top: 25%;

    @media screen and (max-width: 768px) {
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.content-container .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (max-width: 768px) {
        gap: 8px;

    }
}

.content-container .content-wrapper .logo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content-container .content-wrapper .logo-wrapper img {
    width: 33px;
    height: 20px;
}

.content-container .content-wrapper .logo-wrapper p {
    color: var(--gray-color);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
    margin-left: 8px;
}

.content-container .content-wrapper .logo-wrapper p span {
    color: var(--white-color);
    font-size: 14px;
    font-weight: 700;
}

.content-container .content-wrapper .content-text {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 768px) {

        margin-bottom: 8px;

    }
}

.content-container .content-wrapper .content-text p {
    margin-bottom: 0;

}

.content-container .content-wrapper .content-text p span {
    color: var(--white-color);
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;

    @media screen and (max-width: 768px) {
        font-size: 16px;
        line-height: 24px;
    }
}

.content-container .content-wrapper .content-text .strong {
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;
    display: inline-block;
    margin-right: 8px;
    width: 21px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 768px) {
        font-size: 16px;
        width: 12px;

    }
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;

    @media screen and (max-width: 768px) {
        gap: 16px;
    }
}

.buttons .normal-button {
    @media screen and (max-width: 768px) {
        width: 100px !important;
    }
}

.content-bottom .text {
    margin-bottom: 16px;
}

.content-bottom .text p {
    color: var(--gray-color);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 24px;

    @media screen and (max-width: 768px) {
        font-size: 14px;
        line-height: 21px;
    }
}

.watch-video-area {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.watch-video-area img {
    width: 20px;
    height: 20px;
}

.watch-video-area span {
    color: var(--white-color);
    font-size: 16px;
    font-weight: 500;

    @media screen and (max-width: 768px) {
        font-size: 14px;

    }
}


/* Logo Slider Styles */
.logo-slider-section {
    width: 100%;
    margin-top: auto;
    padding: 50px 0;
    position: relative;
}

/* 슬라이더 컨테이너 */
.slider-container {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;

}

/* 그라데이션 오버레이 */
.gradient-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(1, 5, 9, 0) 0%, #010509 100%);
    height: 200px;
    top: -52px;
    width: 26.042%;
    max-width: 500px;
}

.gradient-left {
    left: 0;
    background: rgba(0, 0, 0, 1);
    mask-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.6587228641456583) 70%, transparent 100%);
    mask-repeat: no-repeat;
    filter: blur(100px);

}

.gradient-right {
    right: 0;
    background: rgba(0, 0, 0, 1);
    mask-image: linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 1) 100%);
    mask-repeat: no-repeat;
    filter: blur(120px);
    /* background: linear-gradient(to left, #000 0%, rgba(0,0,0,0) 100%); */
}

.bottom-gradient {
    position: absolute;
    bottom: 0;
    padding-top: 240px;
    width: 100%;
    z-index: 1;
    background: radial-gradient(50% 32% at 50% 100%, #009DFF 0%, rgba(0, 217, 255, 0.25) 53%, rgba(0, 119, 255, 0.15) 79%, rgba(0, 178, 255, 0) 100%);

}


.swiper {
    width: 100%;
    height: 100px;
    z-index: -1 !important;
}

.swiper-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.company-logo {
    max-width: 200px;

    @media screen and (max-width: 768px) {
        max-width: 78px;

    }
}

.swiper-wrapper {
    transition-timing-function: linear !important;
}