:root {
    --primary-color: #2997E1;
    --gray-color: #949698;
    --black-color: #000000;
    --white-color: #ffffff;
<<<<<<< HEAD
    --orange-color: #F26B0F;

=======
>>>>>>> bda07d668d4a0c7ca4ab9f8f3700581b820ff7b3
}
